@import "../base/variables";

/* ---------- MAIN ----------- */

main {

    /* Inicio */

    .hero {
        background-image: url("../img/pexels-pixabay-159711.jpg");

        width: 100%;
        height: calc(100vh - 87px);

        background-position: center;
        background-attachment: fixed;

        display: flex;
        align-items: center;
        justify-content: center;

        div {
            h2 {
                color: white;
                font-size: 100px;
                border: 10px solid white;
                border-radius: 10px;
                text-align: center;
                font-weight: bold;

                width: 800px;
            }

        }

    }

    .productos {
        h2 {
            color: $color-principal;
            margin-top: 10px;
            margin-left: 20px;
        }

        .tarjetas {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .card {
                text-align: center;
                border: 3px solid $color-principal;
                border-radius: 15px;

                margin: 20px;

                height: 385px;

                box-shadow: 5px 5px 33px -9px rgba(0, 0, 0, 0.9);
                -webkit-box-shadow: 5px 5px 33px -9px rgba(0, 0, 0, 0.9);
                -moz-box-shadow: 5px 5px 33px -9px rgba(0, 0, 0, 0.9);
                transition: 1s;

                align-items: center;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    @include wae (250px, 300px);
                    border-radius: 15px 15px 0 0;
                }

                .card__texto {
                    font-size: 18.72px;
                    font-weight: bold;
                    margin: 10px;
                }

                a {
                    width: 78.75px;
                    height: 30px;

                    text-decoration: none;
                    background-color: $color-principal;
                    color: white;
                    padding: 5px 10px 5px 10px;
                    border-radius: 10px;
                    transition: 0.5s;

                    &:hover {
                        background-color: $color-transition;
                    }
                }
            }
        }
    }

    .ofertas {
        h2 {
            color: $color-principal;
        }
    }

    .grid-galeria {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        gap: 5px;

        margin-bottom: 30px;

        .grid-item {
            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }

        .biblioteca1 {
            grid-column: span 2;
        }

        .biblioteca2 {
            grid-row: span 2;
        }

        .libro1 {
            grid-row: span 2;
        }
    }

    /* Vender y contacto*/

    .formGeneral {
        @include flex (flex, center);

        .formulario {
            color: $color-principal;
            width: 400px;
            margin: 30px 0px 30px 0px;
            text-align: center;
            border: 3px solid $color-principal;
            border-radius: 5px;

            h2 {
                font-size: 80px;
            }


            form {
                .datos {
                    width: 90%;
                    margin: 2px;
                    border-radius: 5px;
                    border-color: $color-principal;
                }

                .botones {
                    margin-bottom: 10px;
                }
            }
        }
    }

    /* Nosotros*/

    .historia {
        color: $color-principal;

        h2 {
            font-size: 80px;
        }

        div {
            @include flex (flex, center);

            img {
                width: 450px;
            }

            p {
                display: flex;
                align-items: center;
            }
        }
    }

    .ubicacion {
        @include flex (flex, center);
        color: $color-principal;

        margin-bottom: 20px;

        div {
            width: 250px;
        }
    }
}